Repository MadisonReed/mrCodeCovTest: changes, and which Codecov flags are due for each by the changed paths.
All: website, raven, core

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    website:
      flags: website
      target: 90%
      threshold: null
    raven:
      flags: raven
      target: 90%
      threshold: null
    core:
      flags: core
      target: 90%
      threshold: null

    patch: yes
    changes: no

flags:
  website:
    paths:
      - website/
  raven:
    paths:
      - raven/
  core:
    paths:
      - mr_modules/
parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: no

fix typo website
  .circleci/config.yml
Due: none

move thing around
  .circleci/config.yml
  mr_modules/index.test.js
  raven/index.test.js
Due: raven, core

move thing around
  website/index.test.js
Due: website

move thing around
  .circleci/config.yml
Due: none

try another jest option
  package.json
  website/package.json
Due: website

Update --coverage
  package.json
  raven/package.json
  website/package.json
Due: website, raven

Update --coverage
  .circleci/config.yml
Due: none

Fix codecov.yml remove normal project
  .circleci/config.yml
Due: none

upload more test files
  .circleci/config.yml
Due: none

no orb
  .circleci/config.yml
Due: none

put it back
  .circleci/config.yml
Due: none

add code but no test
  raven/index.js
Due: raven

remove upload json
  .circleci/config.yml
Due: none

Add more raven code but no tests
  raven/index.js
Due: raven

Add mocha tests
  .circleci/config.yml
  mr_modules/cart/cart.js
  package-lock.json
  package.json
  unitTests/cart.js
Due: core

update flag to core
  .circleci/config.yml
Due: none

Add uncovered code to cart core
  mr_modules/cart/cart.js
Due: core

Add more uncovered code to cart core
  mr_modules/cart/cart.js
Due: core

Remove code to cart core to see if pr comment updates
  mr_modules/cart/cart.js
Due: core

Try spliting up projects
  codecov.yml
Due: none

New branch
  mr_modules/cart/cart.js
  package-lock.json
Due: core

REmove settings in codecov
  codecov.yml
Due: none

Rmove all default settings in codecov
  codecov.yml
Due: none

Add multiply with no coverage
  mr_modules/index.js
Due: core

Put back require_ci_to_pass
  codecov.yml
Due: none

Reorder flags
  codecov.yml
Due: none

Put under project
  codecov.yml
Due: none

Set default to false
  codecov.yml
Due: none

Put apps under patch
  codecov.yml
  package-lock.json
  package.json
Due: none

Turn off project status
  codecov.yml
Due: none

Update comment settings
  codecov.yml
Due: none
